# Arquivos binários gerados
*.bin
*.img

# Arquivos de texto de entrada (se estiverem sendo gerados automaticamente)
*.txt

# Scripts temporários (caso não queira versionar os que só geram binários)
cria_tabela.py

# Backup de editores
*~
*.swp
*.bak
